@media (max-width: 600px) and (orientation: portrait) {
  .partnerships-container {
    padding: 1em 0.5em;
    font-size: 1rem;
  }
}
/* CurrentPartenerShips page styles */
.partnerships-container {
  padding: 2em;
}
