@media (max-width: 600px) and (orientation: portrait) {
  .company-history-container {
    padding: 1em 0.5em;
    font-size: 1rem;
  }
}
/* CompanyHistory page styles */
.company-history-container {
  padding: 2em;
}
